body {
    margin: 0;
}
.wrapper{
    display: grid;
    grid-template-columns: min-content 25em;
    /* width: calc(620px + 25em); */
    /* width: 100%; */
}
.box {
    border: 1px solid #555;
}
.rightBox {
    padding: 0.5em;
}
canvas {
    /* display: block; */
}
.OrbitView {
    /* border: 1px solid green; */
}

.CheckBoxLabel {
}
.CheckboxWrap_unchecked,
.CheckboxWrap_checked {
    user-select: none;
    margin: 2px;
    display: inline-block;
}

.CheckboxWrap_checked {
    border: inset;
    background: #e5e5e5;
}
.CheckboxWrap_unchecked {
    border: outset;
    background: #f5f5f5;
}


#survey {
    margin: 1em 0;
}
#feedbackButton {
    background-color: #ffc107;
    border-color: #ffc107;
    padding: 0.5em;
}
