.wrapper{
    display: grid;
    grid-template-columns: min-content 25em;
    /* width: calc(620px + 25em); */
    /* width: 100%; */
}
.box {
    border: 1px solid #555;
    padding: 0.5em;
}
canvas {
    /* display: block; */
}
.OrbitView {
    /* position: absolute; */
    /* overflow: hidden; */
    border: 1px solid green;
}
