body {
    margin: 0;
    background: rgb(51, 57, 64);
}

#sim-root {
    width: fit-content;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: min-content 25em;
}

.transparentControlSection,
.controlSection {
    margin: 0 1em 1em;
}

.controlSection {
    background: rgb(212, 212, 212);
    color: black;
    border: 1px solid black;
    padding: 0.5em;
}

canvas {
    display: block;
}

.OrbitView {
    height: calc(800px + 1em);
}

/* 
.CheckBoxLabel {
}
.CheckboxWrap_unchecked,
.CheckboxWrap_checked {
    user-select: none;
    margin: 2px;
    display: inline-block;
}

.CheckboxWrap_checked {
    border: inset;
    background: #e5e5e5;
}
.CheckboxWrap_unchecked {
    border: outset;
    background: #f5f5f5;
}
*/

#survey {
    margin: 1em 0;
}